/.DS_Store/
ansible.cfg
/.idea/
answerfile_TPM_Lab.yml
answerfile_TPM_Lab_deploy.yml
deployNsx_TPM_Lab.yml
hosts-one-cloud
deployNsx_OneCloud.yml
answerfile_OneCloud_deploy.yml
deployNsx_OneCloud.yml
.gitignore
*.retry